body{
    height: 100vh;
    position: relative;
    margin: 0;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
}
#InputBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    border-top: 1px solid ;
}
#InputText{
    position: absolute;
    bottom: 5vh;
    height: 8%;
    width: 50%;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid rgba(52,53,65,0.1);
}
#content{
    height: 80%;
    width: 100%;
    white-space: pre-line;
    overflow: auto;
    font-size: 18px;
    line-height:30px;
    background-color: rgba(52,53,65,0.1);
}
/* 刪除ul標點 增加li奇數偶數前方內容 */
ul{
    list-style: none;
}
ul li:nth-child(odd)::before{
    content: "我：";
}
ul li:nth-child(even)::before{
    content: "AI：";
}